{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



  </head>
  <body>

    <div class="parallax">
         <div class="page-title">WAVES</div>
    </div>

    <!--homepage begins-->
    <div class="items">
      <div class="images">
          <img src="static\images\atta&flour.webp"  class="item-image-size"/>
      </div>
      </div>

    <div class="items">
      <div class="images">
        <img src="static\images\home-cleaners.webp" class="item-image-size"/>
      </div>
      </div>

    <div class="items">
      <div class="images">
        <img src="static\images\masks-gloves.webp" class="item-image-size"/>
      </div>
      </div>

      <!--deal begins-->

        <div class="parallax">
          <div class="title">DEALS</div>
        </div>
        <div class="deal">
          save 20% on min-purchase of &#8377;2000 on products<br/>
          <button class="coupon-btn">Ad Coupon</button>
        </div>
        <div class="deal">
          save 10% on min-purchase of &#8377;1000 on products<br/>
          <button class="coupon-btn">Ad Coupon</button>
        </div>
        <div class="deal">
          save 20% on min-purchase of &#8377;1000 on products<br/>
          <button class="coupon-btn">Ad Coupon</button>
        </div>

      <!--deal ends-->
      <!--things begins-->


        <div class="parallax">
          <div class="title">Most Popular</div>
        </div>
        <div class="items">
          <div class="images">
            <img src="static\images\sanitizers.webp" class="item-image-size"/>
          </div>
          </div>

        <div class="items">
          <div class="images">
            <img src="static\images\stationery.webp" class="item-image-size"/>
          </div>
          </div>

        <div class="items">
          <div class="images">
            <img src="static\images\masks-gloves.webp" class="item-image-size"/>
          </div>
          </div>


      <!--things ends-->
      <!--daily begins-->

      <div class="deals-container" id="products">
        <div class="parallax">
          <div class="title">Your Daily Stables</div>
        </div>
        <div class="items">
          <div class="images">
            <img src="static\images\atta&flour.webp" class="item-image-size"/>
          </div>
          </div>

        <div class="items">
          <div class="images">
            <img src="static\images\Rice-RiceProduct.webp" class="item-image-size"/>
          </div>
          </div>

        <div class="items">
          <div class="images">
            <img src="static\images\Cooking-Oils.webp" class="item-image-size"/>
          </div>
          </div>

      <!--daily ends-->
      <!--snacks begins-->


        <div class="parallax">
          <div class="title">Snacks</div>
        </div>
        <div class="items">
          <div class="images">
            <img src="static\images\chips-nachos.webp" class="item-image-size"/>
          </div>
        </div>

        <div class="items">
          <div class="images">
            <img src="static\images\biscuits-cookie.webp" class="item-image-size"/>
          </div>
          </div>

        <div class="items">
          <div class="images">
            <img src="static\images\noodles-pasta-soup.webp" class="item-image-size"/>
          </div>
          </div>


      <!--snacks ends-->
      <!--homepage ends-->
      <!--footer ends-->
      <div class="parallax1">
        <div class="footer">
          <div class="quick-links">
            <div >Locations </div>
            <ul>
              <li><a href="" class="a-links">Chennai</a></li>
              <li><a href="" class="a-links">Coimbatore</a></li>
              <li><a href="" class="a-links">Trichy</a></li>
              <li><a href="" class="a-links">Madurai</a></li>
            </ul>
          </div>
          <div class="quick-links">
            <div >CAREERS </div>
            <ul>
              <li><a href="" class="a-links">Packages</a></li>
              <li><a href="" class="a-links">delivary Address</a></li>
              <li><a href="" class="a-links">shelf filters</a></li>
              <li><a href="" class="a-links">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="quick-links">
            <div >Quick Links</div>
            <ul>
              <li><a href="" class="a-links">Contact Us</a></li>
              <li><a href="" class="a-links">FAQ</a></li>
              <li><a href="" class="a-links">Help</a></li>
              <li><a href="" class="a-links">About</a></li>
            </ul>
          </div>

        </div>

      </div>
      <div class="copyrights">
        <i class="far fa-copyright fa-lx"></i>&#xa9;2021 By Waves Pvt Limeted
      <!--footer ends-->

  </body>
</html>



{% endblock content %}
